html{
  scroll-behavior: smooth;
}

body {
  background-color: #F2E2CE;
  padding: 7vh 10vw 7vh 10vw;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

article {
  height: 100vh;
}

/* text in heroPage */
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 29vmin;
}

/* text in heroPage */
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 21vmin;
}

/* text in heroPage */
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 3vmin;
  color: #F2E2CE;
}

/* text in heroPage */
h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 5vmin;
  line-height: 2em;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vmin;
}

h6 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 1.8vmin;
}

p {
  font-family: 'Open Sans', sans-serif;
}

a, a:visited {
  color: #000;
  text-decoration: none;
}

.heroPage {
  position: relative;
}

.aaaa{
}

.aaaa:hover>.heropic{
  display: block;
}

.heropic {
  display: none;
  position: absolute;
  bottom: 18vh;
  height: 90%;
}

#myname{
  margin-top: 48vh;
  margin-left: -1vmin;
}

.language {
  z-index: 100;
  position: fixed;
  right: 10vw;
  top: 7vh;
  display: flex;
  align-items: center;
}

.introduction {
  padding: 0 2vw 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 10vw;
  top: 7vh;
  width: 22vmin;
  background-color: black;
  text-align: center;
}

.icon-margin{
  margin-bottom: 1.5vmin;
}

.contact{
  z-index: 100;
  position: fixed;
  right: 10vw;
  bottom: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category{
  pointer-events: none;
  color: transparent;
  z-index: 3;
  text-align: center;
  font-size: 16vmin;
  -webkit-text-stroke: 2px black;
}

.project{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* line-height: 27em; */
}

.infoTag{
  line-height: 1.5em;
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  top: 80vh;
}

.workImg{
  height: 100%;
  z-index: 2;
}

.urlPosition{
  position: absolute;
  height: 50%;
}

.title{
  font-style: italic;
  margin-top: -20vmin;
}

.works{
}

/* [data-aos="fade-out"] {
  opacity: 1;
  transition-property: opacity;
  &.aos-animate {
    opacity: 0;
  }
} */
